[Desktop Entry]
Name=ППК
Version=0.1.0
Exec=/home/ivan/.PPK/PPK
Comment=
Icon=/home/ivan/.local/share/icons/hicolor/128x128/apps/PPK.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;Education;
